<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <hook type="SitecoreCookbook.Hooks.AuditTrailHook, SitecoreCookbook">
        <param desc="logActivity">true</param>
        <!-- OR -->
        <!--<WriteLogs>true</WriteLogs>-->
      </hook>
    </hooks>
  </sitecore>
</configuration>