@model IDictionary<string, string>
<div id="languageswitcher">
    @foreach (var language in Model)
    {
        <div>
            <a href="@language.Value">@language.Key</a>
        </div>
    }
</div>