<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor type="SitecoreCookbook.Publishing.PublishToCDN, SitecoreCookbook"
          patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']" />
      </publishItem>
    </pipelines>
    <hooks>
      <hook type="SitecoreCookbook.Providers.CDNMediaProvider, SitecoreCookbook">
        <CDNDomain>http://sitecorecookbook.cdn.com</CDNDomain>
      </hook>
    </hooks>
  </sitecore>
</configuration>
