<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{B8AC1D5A-1282-4D42-AA4D-36A684247296}" type="SitecoreCookbook.Analytics.Dimensions.ByBrowserVersion, SitecoreCookbook" />
        </dimensions>
      </aggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>