<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreCookbook.Pipelines.PageNotFoundResolver, SitecoreCookbook"
              patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
        </processor>
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="SitecoreCookbook.Pipelines.Set404Status, SitecoreCookbook" />
      </httpRequestProcessed>
    </pipelines>
  </sitecore>
</configuration>