<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent type="SitecoreCookbook.Tasks.VersionDeletionAgent, SitecoreCookbook"
             method="Run" interval="00:00:30">
        <DatabaseName>master</DatabaseName>
        <RootItem>/sitecore/content/Home</RootItem>
        <MaxVersions>3</MaxVersions>
      </agent>
    </scheduling>
  </sitecore>
</configuration>