<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor type="SitecoreCookbook.Publishing.RemoveDuplicateItems, SitecoreCookbook"
          patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.DetermineAction, Sitecore.Kernel']" />
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>
