<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
        <dimension id="{9F81407E-278E-4B74-A6B1-6AD590323E40}" type="SitecoreCookbook.Analytics.Dimensions.ByWebsiteSection, SitecoreCookbook" />
        </dimensions>
      </aggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>