<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
 <sitecore>
  <linkManager>
   <patch:attribute name="defaultProvider" value="switcher" />
    <providers>
       <add name="switcher" 
         type="SitecoreCookbook.Providers.MultisiteLinkProvider, SitecoreCookbook" />
       <add name="link-pattern-1" 
            type="Sitecore.Links.LinkProvider, Sitecore.Kernel" 
            addAspxExtension="false" languageLocation="filePath" />
       <add name="link-pattern-2"
            type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
            addAspxExtension="true" languageLocation="queryString" />
     </providers>
    </linkManager>
  </sitecore>
</configuration>
