<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <events>
      <event name="publish:begin">
        <handler type="SitecoreCookbook.Publishing.BeginWebDeploy, SitecoreCookbook" method="PublishSublayouts">
          <tasks hint="list:AddTask">
            <default type="Sitecore.Publishing.WebDeploy.Task">
              <!-- Publish operation int othe target database will trigger this deployment task. -->
              <targetDatabase>web</targetDatabase>

              <!-- Target server is optional. If omitted, operation is performed on the local server. -->
              <targetServer>192.168.225.111</targetServer>
              <!-- 
                userName and password are optional. If omitted, local user identity or
                credentials saved in Windows Vault will be used to connect to the server.
              -->
              <userName>sitecorecookbook\yogesh.patel</userName>
              <password>ICantShareIt</password>

              <!-- localRoot is optional. If omitted, the website root is used. -->
              <localRoot>D:\Sitecore\FilesToPublish</localRoot>

              <remoteRoot>E:\Live-Sitecore\Website</remoteRoot>

              <!-- Paths, relative to the localRoot, which will be deployed to the remote location. -->
              <items hint="list:AddPath">
                <sublayouts>layouts/Sublayouts</sublayouts>
              </items>

            </default>
          </tasks>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>
